.box_center_top {
  position:absolute;
  right:30%;
  top:2%;
  width: 30%;
  height:100px;
  margin-right:6%;
}

.box_center_top_bottom {
  position:absolute;
  right:30%;
  top:10%;
  width: 30%;
  height:100px;
  margin-right:6%;
}

.box_center_top_ipad {
  position:absolute;
  right:18%;
  top:58%;
  width: 36%;
  height:100px;
  margin-right:6%;
}


.box_center_top_bottom_ipad {
  position:absolute;
  right:17%;
  top:73%;
  width: 35%;
  height:100px;
  margin-right:6%;
}

.box_center_top_vertical {
    position: absolute;
    right: 48%;
    top: 85%;
    width: 40%;
    height: 100px;
    margin-right: 6%;
}

.box_center_top_bottom_vertical {
    position: absolute;
    right: 45%;
    top: 90%;
    width: 40%;
    height: 100px;
    margin-right: 6%;
}

.clockSA {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 30px;
    font-family: Orbitron;
    letter-spacing: 2px;
}

.clockSAIpad {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 30px;
    font-family: Orbitron;
    letter-spacing: 2px;
}

.clockNY {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 30px;
    font-family: Orbitron;
    letter-spacing: 2px;
}



.clockTK {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 30px;
    font-family: Orbitron;
    letter-spacing: 2px;
}


.clockMD {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 30px;
    font-family: Orbitron;
    letter-spacing: 2px;

}
