.box_center_left_bottom {
  position: absolute;
  top:81%;
  right:36%;
  width: 25%;
  height:10%;
}

.box_center_left_bottom_ipad {
  position: absolute;
  top:72%;
  right:1%;
  width: 25%;
  height:10%;
}


.box_center_left_bottom_vertical {
  position: absolute;
  top:81%;
  right:32%;
  width: 25%;
  height:10%;
}
