.box {
  position:absolute;
  width: 30%;
  height:52%;
  border: 2px solid green;
}

.box_ipad {
  position:absolute;
  top:1%;
  width: 69%;
  height:53%;
  border: 2px solid green;
}

.box_vertical {
    position: absolute;
    top: 28%;
    left: 3%;
    width: 94%;
    height: 35%;
/*   border: 2px solid green; */
}
