.box_center_mid_lower {
  position:absolute;
  right:43%;
  top:45%;
  width: 20%;
  height:450px;
  margin-right:6%;
  outline: solid green 1px;
}

.box_center_mid_lower_ipad {
  position:absolute;
  right:27%;
  top:-5%;
  width: 20%;
  height:450px;
  margin-right:6%;
}
