.box_center_bottom_right {
  position:absolute;
  right:39%;
  top:45%;
  width: 20%;
  height:100px;
  margin-right:6%;
}

.box_center_bottom_right_mobile {
  position:absolute;
  right:-7%;
  top:85%;
  width: 115%;
  height:100px;
  margin-right:6%;
}
.box_center_bottom_right_ipad {
    position: absolute;
    right: -5%;
    top: -4%;
    width: 31%;
    height: 100px;
    margin-right: 6%;
}


.box_center_vertical {
    position: absolute;
    right: 85%;
    top: 62%;
    width: 20%;
    height: 114px;
    margin-right: 0%;
}

:root {
  --text_light: #66ccff;
  --text_med: blue;
  --text_dark: #1e2432;
  --red: #ff1e42;
  --darkred: #c3112d;
  --orange: #ff8c00;
}


.ajax-section {
  margin: 30px 10px 100px;
}



.ajax-section .city {
  position: relative;
  top:-30%;
  padding: -1px 50px 10px;
  border-radius: 20px;
  background: var(--text_light);
  color: blue;
}

.ajax-section figcaption {
  margin-top: 1px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.ajax-section .city-temp {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}

